.signup-container {
    display: grid;
    align-items: center;    
    justify-content: center;   
}

.signup-form {
    width: 300px;
    gap: 16px;
    padding: 16px;
    border: 4px solid #207019d5;
    border-radius: 8px;
}

.input-group {
    margin-bottom: 15px;
}